body{
    margin: 0;
}
#map {
    height: 100vh;
    width: 100vw;
}
#loader{
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    font-size:64px;
    z-index: 1000;
    color: black;
}